<div class="card w-full bg-base-100 shadow-xl">
    <div class="card-body">
        <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{.Site.Params.adsense.client}}"
            crossorigin="anonymous"></script>
        <!-- 포스트 하단 광고 -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="{{.Site.Params.adsense.client}}"
            data-ad-slot="{{.Site.Params.adsense.adslot}}" data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>